html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: "Open-sans";
  src: local("Open-sansBold"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff"),
    url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-sans";
  src: local("Open-sansSemibold"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-sans";
  src: local("Open-sansRegular"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: Open-sans, sans-serif;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-purple: #9D5CD0;
  --color-grey: #333333;
  --color-night-grey: #999999;
  --color-light-gray: #cacaca;
  --color-purple-focus: #C283F3;
  --color-back: #7943A4;
  --color-out: #d1a9f0;
  --color-red: #D11616;
  --color-back-grey: #ECECEC;
}

/*header*/
.header {
  padding-top: 27px;
  padding-bottom: 20px;
  margin-bottom: 48px;
  background-color: var(--color-black);
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top {
  margin-bottom: 6px;
}

.header__logo {
  display: block;
  margin-right: 83px;
  padding-top: 3px;
}

.header__btn-1 {
  display: none;
}

.header__navigation {
  margin: 0 auto;
}

.nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px 8px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

.nav-item {
  margin-right: 96px;
}

.nav-link {
  position: relative;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease-in-out , color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out , color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out , color 0.3s ease-in-out , opacity 0.4 ease-in-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  inset: 0 -5px;
  z-index: -1;
  opacity: 0;
  background-color: var(--color-back);
}

.nav-link:focus-visible {
  color: var(--color-purple-focus);
}

.nav-link:focus-visible::before {
  opacity: 1;
}

.nav-link:focus {
  outline: none;
  color: var(--color-white);
}

.nav-link:active {
  color: var(--color-back);
}

.nav-link:hover {
  color: var(--color-purple-focus);
}

.header__btn {
  margin-left: auto;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.header__btn:focus-visible:not(:hover) {
  outline: 2px solid var(--color-purple-focus);
  outline-offset: 2px;
}

.header__btn:hover {
  color: var(--color-purple-focus);
}

.header__btn:focus {
  padding: 4px;
  color: var(--color-white);
  background-color: var(--color-back);
}

.header__btn:active {
  color: var(--color-purple);
  background-color: var(--color-black);
}

.header__btn-1 {
  display: none;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.header__btn-1:hover {
  color: var(--color-purple-focus);
}

.header__btn-1:focus {
  padding: 4px;
  color: var(--color-white);
  background-color: var(--color-back);
}

.header__btn-1:active {
  color: var(--color-purple);
  background-color: var(--color-black);
}

.header__btn-1 svg {
  width: 28px;
  height: 28px;
}
/*hero*/
.hero {
  padding-top: 246px;
  padding-bottom: 148px;
  margin-bottom: 48px;
  background-color: var(--color-out);
  background-image: url(../img/about-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__contant {
  max-width: 579px;
}

.hero__heading {
  margin-bottom: 16px;
  letter-spacing: 2.4px;
  font-weight: 700;
  font-size: 66px;
  line-height: 70px;
  color: var(--color-white);
}

.hero__text {
  margin-bottom: 89px;
  font-weight: 700;
  font-size: 17px;
  line-height: 31px;
  color: var(--color-white);
}

.hero__btn {
  padding: 24px 38px 20px 35px;
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-white);
  background-color: var(--color-purple);
  border-radius: 100px;
  -webkit-transition: background-color 0.3s ease-in-out , outline 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out , outline 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out , outline 0.3s ease-in-out;
}

.hero__btn:hover {
  outline: 3px solid var(--color-out);
}

.hero__btn:focus {
  outline: 3px solid var(--color-out);
}

.hero__btn:active {
  background-color: var(--color-back);
  outline: 3px solid var(--color-out);
}

/*about*/
.about {
  margin-bottom: 32px;
}

.about__container {
  padding-left: 261px;
}

.about__heading {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-grey);
}

.about__text {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

/*gallery*/
.gallery {
  padding-top: 86px;
  padding-bottom: 73px;
  background-color: var(--color-out);
  background-image: url(../img/gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__all {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__heading {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-white);
}

.gallery__left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 10px;
}

.gallery__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.gallery__form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gallery__from-label {
  color: var(--color-white);
  cursor: pointer;
}

.gallery__from-label:hover {
  color: var(--color-purple-focus);
}

.gallery__from-label:active {
  color: var(--color-purple-focus);
}

.gallery__from-checkbox {
  appearance: none;
}

.gallery__from-visuall-check {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-bottom: 4px;
  margin-right: 17px;
  border: 1px solid;
  transition: border-color .3s;
  vertical-align: middle;
  transition: border-color .3s ease;
}

.gallery__from-visuall-check:hover {
  color: var(--color-purple-focus);
}

.gallery__from-visuall-check::before {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  cursor: pointer;
  opacity: 0;
  background-color: var(--color-purple-focus);
  transform: translate(-50%, -50%);
  transition: opasity .3 ease;
}

.gallery__from-visuall-check,
.gallery__from-check-text {
  vertical-align: middle;
}

.checkbox:checked ~ .gallery__from-visuall-check {
  border-color: var(--color-purple-focus);
}

.checkbox {
  position: absolute;
  width: 1px;  
  height: 1px;  
  margin: -1px;  
  border: 0;  
  padding: 0;
  clip: rect(0, 0, 0, 0);  
  overflow: hidden;
}

.gallery__from-checkbox:focus ~ .gallery__from-visuall-check {
  border-color: var(--color-purple-focus);
}

.checkbox:checked ~ .gallery__from-visuall-check::before {
  opacity: 1;
}

.gallery__from-check-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: color .3s ease;
}

.checkbox:checked ~ .gallery__from-check-text {
  color: var(--color-purple-focus);
}

.gallery__right {
  flex-wrap: wrap;
  gap: 50px;
}

/*catalog*/
.catalog {
  padding-top: 52px;
  padding-bottom: 24px;
}

.catalog__heading {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-black);
}

.catalog__text {
  max-width: 1080px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.catalog__img {
  margin-right: 50px;
}

.catalog__right {
  padding-bottom: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
}

.catalog__item:not(:last-child) {
  margin-bottom: 45px;
}

.right-heading {
  margin-bottom: 10px;
  letter-spacing: 0.6px;
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;
  color: var(--color-grey);
}

.right-date {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-night-grey);
}

.right-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

/*events*/
.events {
  padding-top: 21px;
  padding-bottom: 25px;
}

.events__heading {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-grey);
}

.events__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      flex-wrap: wrap;
      gap: 50px;
}

.events__section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-img {
  display: block;
  width: 100%;
}

.section-bottom {
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 399px;
  padding: 13px 40px 38px 48px;
  border-left: 1px solid var(--color-light-gray);
  border-right: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}

.events__signature {
  max-width: 145px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-night-grey);
}

.events__signature-1 {
  max-width: 90px;
}

.section-heading {
  max-width: 360px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;
  color: var(--color-grey);
}

.section-right {
  padding-right: 30px;
}

.section-text {
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.section-link {
  position: relative;
  z-index: 1;
  outline: none;
  display: inline-block;
  width: 92px;
  margin: 0;
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-purple);
  border-bottom: 1px solid var(--color-purple);
  -webkit-transition: color 0.3s ease-in-out , background-color 0.3s ease-in-out , border-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out , background-color 0.3s ease-in-out , border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out , background-color 0.3s ease-in-out , border-color 0.3s ease-in-out , opacity 0.3s ease-in-out;
}

.section-link::before {
  position: absolute;
  inset: 0 -5px;
  content: '';
  background-color: var(--color-purple);
  border-color: var(--color-white);
  z-index: -1;
  opacity: 0;
}

.section-link:focus-visible {
  color: var(--color-white);
}

.section-link:focus-visible::before {
  opacity: 1;
}

.section-link:hover {
  color: var(--color-back);
  border-color: var(--color-back);
}

.section-link:active {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-black);
}

/*projects*/
.projects {
  padding-top: 25px;
  margin-bottom: 48px;
}

.projects__container {
  padding-left: 260px;
}

.projects__heading {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-grey);
}

.projects__text {
  max-width: 1080px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey)
}

.bottom-heading {
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: 0.4px;
  font-size: 23px;
  line-height: 32px;
  color: var(--color-grey);
}

.projects__link {
  display: block;
  padding: 24px 25px;
  border: 1px solid var(--color-light-gray);
}


.project-img {
  gap: 35px;
}

/*social*/
.social {
  padding-top: 37px;
  padding-bottom: 38px;
  margin-bottom: 49px;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}

.social__left {
  padding-top: 6px;
  margin-right: 80px;
}

.social__heading {
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 23px;
  line-height: 32px;
  color: var(--color-grey);
}

.social__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.social__centre {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 78px;
}

.social__form {
  flex-wrap: wrap;
}

.social__form-imput {
  width: 270px;
  margin-right: 20px;
  padding: 8px 24px 9px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-night-grey);
  border: 1px solid var(--color-grey);
  border-radius: 100px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.social__form-imput:hover {
  background-color: var(--color-back-grey);
}

.social__form-imput:focus {
  background-color: var(--color-back-grey);
}

.social__form-imput:not(:last-child) {
  margin-right: 20px;
}

.social__btn {
  display: inline-block;
  padding: 11px 28px 12px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
  border-radius: 100px;
  -webkit-transition: border-color 0.3s ease-in-out , color 0.3s ease-in-out , background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out , color 0.3s ease-in-out , background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out , color 0.3s ease-in-out , background-color 0.3s ease-in-out;
}

.social__btn:hover {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-purple);
}

.social__btn:focus {
  outline: 2px solid var(--color-purple-focus);
  border-color: var(--color-purple-focus);
}

.social__btn:active {
  background-color:  var(--color-back);
  border-color: var(--color-out);
}

.social__btn-1 {
  display: none;
}

.social__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__heading-right {
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.social__link:hover {
  opacity: 0.5;
}

.social__link:focus {
  opacity: 0.5;
}

.social__link:active {
  border: 1px solid var(--color-black);
  border-radius: 100%;
}

/*footer*/
.footer {
  padding-top: 46px;
  padding-bottom: 50px;
  background-color: var(--color-black);
}

.footer__link-logo {
  padding-top: 4px;
}

.footer__social {
  margin-left: auto;
  gap: 20px;
}

.footer__link {
  display: block;

}

.footer__link svg {
  fill: var(--color-light-gray);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__link:hover svg {
  fill: var(--color-white);
}

.footer__link:focus svg {
  fill: var(--color-white);
}

.footer__link:active svg {
  fill: var(--color-purple);
}

